.flexbox-container {
    display: flex;
    justify-content: center;
}

.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid grey;
    background-color: rgb(182, 204, 204);
}

.flexbox-item-1 {
    min-height: 300px;
}

.flexbox-item-2 {
    min-height: 300px;
}

.flexbox-item-3 {
    min-height: 300px;
}