h1,
p {
  font-family: Lato;
}

.UlLayout {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.LiLayout {
  display: inline;
  padding: 2px;
}

table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 50%;
}

th, td {
  padding: 10px;
  width: 30px;
}